* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f4f4f4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@keyframes rotating {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes gradientMove {
  0%   { background-position: 0% 0%; }
  25%  { background-position: 0% 100%; }
  50% { background-position: 100% 100%; }
  75% { background-position: 100% 0%; }
  100% { background-position: 0% 0%; }
}


.bottom-nav-arr {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 10px;
}

.bottom-nav {
    position: relative;
    margin: 0 10px;
    padding: 20px 15px;
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(220,220,220,0.5);
    border: solid 1px rgba(255,255,255,0.8);
    backdrop-filter: blur(5px) contrast(120%);
    -webkit-backdrop-filter: blur(5px) contrast(120%);
    border-radius: 20px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.15);
}

.bottom-nav a {
    color: black;
    text-shadow: 0 0 3px #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.new-word-arr {
    position: fixed;
    margin: 30px 10px;
    bottom: 60px;
    background-color: rgba(186, 199, 220, 0.5);
    border-radius: 25px;
    width: calc(100% - 40px);
    text-align: center;
    padding: 10px;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: solid 1px rgba(200,230,255,0.9);
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    text-shadow: 0 0 3px #fff;
    transition: 0.3s;
    opacity: 0.1;
    display: none;
    transform: scaleX(0);
}

.enable {
    opacity: 1;
    bottom: 300px;
    transform: scaleX(1);
}

.disable {
    opacity: 0.1;
    bottom: 60px;
    transform: scaleX(0);
}

.input-word {
    margin: 15px;
    width: 200px;
    padding: 5px 10px;
    border-radius: 10px;
    border: solid 1px rgba(255,255,255,0.8);
    background-color: rgba(230,230,230,0.8);
    font-size: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
}

.new-word-btn {
    padding: 10px 20px;
    font-size: medium;
    font-weight: 700;
    margin: 20px;
    background-color: #93b5e8;
    border: solid 1px #628ed0;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(0,55,127,0.3);
    color: rgb(25,55,125);
}

h1 {
    padding-bottom: 25px;
    text-align: center;
    border-bottom: solid 1px #7f7f7f45;
}

.word-line {
    padding: 15px 0;
    margin: 0 20px;
    border-top: solid 1px #7f7f7f25;
}

.word-line h6 {
    color: #7f7f7f99;
    padding: 0 5px;
}

.h4-arr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.word-del-btn {
    position: relative;
    top: 7px;
    padding: 0 5px;
    height: 40px;
    margin: 0 10px;
    background: #dd444499;
    border-radius: 10px;
    border: solid 1px #dd4444ff;
    box-shadow: 0 2px 5px #00000055;
    /*display: none;*/
}

.word-del-btn svg {
    position: relative;
    top: 1.5px;
}

.new-word-arr div {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: end;
}


.settings-page-arr {
    display: none;
    justify-content: end;
    position: fixed;
    top: 50px;
    right: 0vw;
    transition: 0.3s;
    opacity: 0;
    filter: blur(10px);
    backdrop-filter: blur(7px) contrast(100%);
    -webkit-backdrop-filter: blur(7px) contrast(100%);
    border-radius: 15px 0 0 15px;
}

.settings-page-arr-enable {
    opacity: 1;
    filter: blur(0px);
}

.settings-page-arr-disable {
    opacity: 0;
    filter: blur(10px);
}


.settings-page {
    background-color: rgba(255, 239, 168, 0.5);
    border: solid 1px rgb(255, 239, 168);
    padding: 15px;
    border-radius: 15px 0 0 15px;
}

.settings-page h3{
    padding: 10px;
}

.settings-page a{
    text-decoration: none;
}

.settings-page h4{
    padding: 20px;
    color: #000000bb;
    text-decoration: none;
}


#import-json-arr, #export-json-arr {
    position: fixed;
    width: 100%;
    text-align: center;
}




#import-json-textarea,  #export-json-textarea{
    width: calc(100% - 80px);
    margin: 30px;
    padding: 10px;
    height: 300px;
    font-size: 17px;
}

.game-card {
    margin: 25px;
    padding: 15px;
    background-color: #7f7f7f1f;
    background-image: conic-gradient(#7f7f7f10, #ffffff10, #7f7f7f10, #00000010, #00000010, #7f7f7f10);
    background-size: 400% 400%;
    border: solid 1px #7f7f7f24; 
    border-radius: 15px;
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    animation: gradientMove 15s ease infinite;
}

.game-card h2 {
    color: #000;
    opacity: 0.8;
    margin-bottom: 10px;
}

.game-card p {
    color: #000;
    opacity: 0.4;
}


.back-to-game-btn {
    background-color: rgba(220,220,220,0.5);
    border: solid 1px rgba(255,255,255,0.8);
    backdrop-filter: blur(5px) contrast(120%);
    font-family: monospace;
    font-size: 30px;
    padding: 2.5px 10px;
    margin: 40px 15px;
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.1);
    border-radius: 30px;
}


.back-to-game-btn svg {
    width: 20px;
    height: 20px;
}

.game-mode-arr {
    text-align: center;
}

.period-mode-btn {
    position: relative;
    padding: 8px 16px;
    border-radius: 20px;
    border: solid 1px #ffffff;
    background-color: #ffffff4f;
    margin: 10px;
    font-size: 20px;
    color: #000000aa;
    box-shadow: 0 5px 15px #7f7f7f2f;
}

.period-input {
    padding: 5px 10px;
    font-size: small;
    background-color: #7f7f7f44;
    border: solid 1px #7f7f7f44;
    color: #000000aa;
    border-radius: 30px;
    margin: 10px;
}

.game-variant-btn {
    text-align: center;
}

.game-variant-btn-btn{
    position: relative;
    padding: 20px;
    border-radius: 20px;
    border: solid 1px #ffffff;
    background-color: #ffffff7f;
    margin: 10px;
    font-size: 20px;
    color: #000000aa;
    width: calc(100% - 80px);
    box-shadow: 0 3px 15px #7f7f7f7f;
}

.game-card-period-btn {
    width: calc(100% - 20px);
}

progress {
    background-color: #999;
}

/***********************************************/


@media (prefers-color-scheme: dark) {


body {
    background-color: #000;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@keyframes rotating {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.bottom-nav-arr {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 10px;
}

.bottom-nav {
    position: relative;
    margin: 0 10px;
    padding: 20px 15px;
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(55,55,55,0.5);
    border: solid 1px rgba(55,55,55,0.8);
    backdrop-filter: blur(5px) contrast(120%);
    -webkit-backdrop-filter: blur(5px) contrast(120%);
    border-radius: 20px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.15);
}

.bottom-nav a {
    color: #fff;
    text-shadow: 0 0 3px #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.new-word-arr {
    position: fixed;
    margin: 30px 10px;
    bottom: 60px;
    background-color: rgba(36, 49, 80, 0.5);
    border-radius: 25px;
    width: calc(100% - 40px);
    text-align: center;
    padding: 10px;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: solid 1px rgba(36,49,80,0.9);
    box-shadow: 0 4px 20px rgba(0,0,0,0.5);
    text-shadow: 0 0 3px #000;
    transition: 0.3s;
    opacity: 0.1;
    display: none;
    transform: scaleX(0);
}

.enable {
    opacity: 1;
    bottom: 300px;
    transform: scaleX(1);
}

.disable {
    opacity: 0.1;
    bottom: 60px;
    transform: scaleX(0);
}

.input-word {
    margin: 15px;
    width: 200px;
    padding: 5px 10px;
    border-radius: 10px;
    border: solid 1px rgba(75,75,75,0.8);
    background-color: rgba(40,40,40,0.8);
    font-size: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    color: white;
}

.new-word-btn {
    padding: 10px 20px;
    font-size: medium;
    font-weight: 700;
    margin: 20px;
    background-color: #0a4091;
    border: solid 1px #2b66bf;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(90, 160, 252, 0.3);
    color: rgb(157, 181, 237);
    text-shadow: 0 0 3px #0000007f;
}

h1 {
    padding-bottom: 25px;
    text-align: center;
    border-bottom: solid 1px #7f7f7f45;
}

.word-line {
    padding: 15px 0;
    margin: 0 20px;
    border-top: solid 1px #7f7f7f25;
}

.word-line h6 {
    color: #7f7f7f99;
    padding: 0 5px;
}

.h4-arr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.word-del-btn {
    position: relative;
    top: 7px;
    padding: 0 5px;
    height: 40px;
    margin: 0 10px;
    background: #dd444499;
    border-radius: 10px;
    border: solid 1px #dd4444ff;
    box-shadow: 0 2px 10px #ff000055;
    /*display: none;*/
}

.word-del-btn svg {
    position: relative;
    top: 1.5px;
}

.new-word-arr div {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: end;
}


.settings-page-arr {
    display: none;
    justify-content: end;
    position: fixed;
    top: 50px;
    right: 0vw;
    transition: 0.3s;
    opacity: 0;
    filter: blur(10px);
    backdrop-filter: blur(7px) contrast(100%);
    -webkit-backdrop-filter: blur(7px) contrast(100%);
    border-radius: 15px 0 0 15px;
}

.settings-page-arr-enable {
    opacity: 1;
    filter: blur(0px);
}

.settings-page-arr-disable {
    opacity: 0;
    filter: blur(10px);
}


.settings-page {
    background-color: rgba(85, 69, 0, 0.5);
    border: solid 1px rgb(85, 69, 0);
    padding: 15px;
    border-radius: 15px 0 0 15px;
}

.settings-page h3{
    padding: 10px;
}

.settings-page a{
    text-decoration: none;
}

.settings-page h4{
    padding: 20px;
    color: #ffffffbb;
    text-decoration: none;
}


#import-json-arr, #export-json-arr {
    position: fixed;
    width: 100%;
    text-align: center;
}




#import-json-textarea,  #export-json-textarea{
    width: calc(100% - 80px);
    margin: 30px;
    padding: 10px;
    height: 300px;
    font-size: 17px;
}

.game-card {
    margin: 25px;
    padding: 15px;
    background-color: #7f7f7f2f;
    border: solid 1px #7f7f7f44; 
    border-radius: 15px;
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
}

.game-card h1 {
    padding: 50px 0;
}

.game-card h2 {
    color: #fff;
    opacity: 0.8;
    margin-bottom: 10px;
}

.game-card p {
    color: #fff;
    opacity: 0.4;
}


.back-to-game-btn {
    background-color: rgba(50,50,50,0.5);
    border: solid 1px rgba(75,75,75,0.8);
    backdrop-filter: blur(5px) contrast(120%);
    font-family: monospace;
    font-size: 30px;
    padding: 2.5px 10px;
    margin: 40px 15px;
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.5);
    border-radius: 30px;
}


.back-to-game-btn svg {
    width: 20px;
    height: 20px;
}

.game-mode-arr {
    text-align: center;
}

.period-mode-btn {
    position: relative;
    padding: 8px 16px;
    border-radius: 20px;
    border: solid 1px #7f7f7f5f;
    background-color: #7f7f7f4f;
    margin: 10px;
    font-size: 20px;
    color: #ffffffaa;
    text-shadow: 0 0 5px #0000007f;
    box-shadow: 0 5px 15px #7f7f7f2f;
}

.period-input {
    padding: 5px 10px;
    font-size: small;
    background-color: #7f7f7f44;
    border: solid 1px #7f7f7f44;
    color: #ffffffaa;
    border-radius: 30px;
    margin: 10px;
}

.game-variant-btn {
    text-align: center;
}

.game-variant-btn-btn{
    position: relative;
    padding: 20px;
    border-radius: 20px;
    border: solid 1px #7f7f7f5f;
    background-color: #7f7f7f4f;
    margin: 10px;
    font-size: 20px;
    color: #ffffffaa;
    width: calc(100% - 80px);
    box-shadow: 0 3px 15px #0000007f;
}

.game-card-period-btn {
    width: calc(100% - 20px);
}



}
